body {  
    background-color: #22243b;  
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);  
    padding: 40px;  
    font-family: Arial;  
    text-align: center;  
  };
    
  main {

  }